<div class="cells-post cells-post-high">
  <%= link_to smart_post_path(@post) do %>
    <div class="picture" style="background-image: url('<%= @post.picture_url %>')">
      
    </div>
  <% end %>

  <h3>
    <%= link_to @post.title, smart_post_path(@post) %>
    <%= comments_link @post %>
  </h3>
  <hr />

</div>
