<div class="cells-post cells-post-test-block">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="date">
        <%= time_or_date post.created_at %>
      </div>
      <%= link_to post.title, smart_post_path(post) %>

      <%= comments_link post %>
    </div>
    <hr />
  <% end %>
</div>
