!log/.keep
.DS_Store
.bundle
.byebug_history
.env
.env.production
.env.pg-backup
.rbenv-vars
.vagrant/
.yarn-integrity
/node_modules
/public/packs
/public/packs-test
/public/yandex
build
circle.yml
coverage
log/*
public/assets/
public/sitemap*
tags
tmp
vendor/bundle/
vendor/cache
volumes/
yarn-debug.log*
