---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/94.228.243.75
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Tue, 23 May 2017 04:08:36 GMT
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14994'
      X-Ratelimit-Reset:
      - '2562'
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"94.228.243.75","country_code":"RU","country_name":"Russia","region_code":"MOW","region_name":"Moscow","city":"Moscow","zip_code":"101000","time_zone":"Europe/Moscow","latitude":55.7522,"longitude":37.6156,"metro_code":0}

'
  recorded_at: Tue, 30 May 2017 14:04:06 GMT
recorded_with: VCR 3.0.3
