---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/188.191.19.242
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Fri, 16 Feb 2018 08:41:25 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"188.191.19.242","country_code":"UA","country_name":"Ukraine","region_code":"43","region_name":"Republic
        of Crimea","city":"Simferopol","zip_code":"","time_zone":"Europe/Simferopol","latitude":44.9572,"longitude":34.1108,"metro_code":0}

'
  recorded_at: Fri, 23 Feb 2018 08:17:42 GMT
recorded_with: VCR 3.0.3
