---
http_interactions:
- request:
    method: post
    uri: http://ping.blogs.yandex.ru/RPC2
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <methodCall>
          <methodName>weblogUpdates.ping</methodName>
          <params>
            <param>
              <value>http://local.russianpulse.ru/blog-54/2016/08/25/42-title-50</value>
            </param>
            <param>
              <value>Title 50</value>
            </param>
          </params>
        </methodCall>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
         <methodResponse>
          <params>
           <param>
            <value>
             <struct>
              <member>
               <name>flerror</name>
               <value>
                <boolean>1</boolean>
               </value>
              </member>
              <member>
               <name>message</name>
               <value>Error. Invalid URL.</value>
              </member>
             </struct>
            </value>
           </param>
          </params>
        </methodResponse>
  recorded_at: Thu, 25 Aug 2016 10:52:57 GMT
recorded_with: VCR 3.0.3
