<header class="mdl-layout__header mdl-layout__header--waterfall">
  <!-- Top row, always visible -->
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Русский пульс</span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
    mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="mdl-button mdl-js-button mdl-button--icon"
             for="waterfall-exp">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <%= form_tag '/search', method: :get do %>
          <%= text_field_tag :q, params[:q], class: 'mdl-textfield__input', placeholder: 'Что ищем?', id: 'waterfall-exp' %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Bottom row, not visible on scroll -->
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <%= render partial: "shared/navigation" %>
  </div>
</header>
