<div class="row">
  <% comments.in_groups(2, false).each do |comments| %>
    <div class="col-sm-6">
      <div class="widget widget-recent-comments">
        <% comments.each do |comment| %>
          <%= render partial: "shared/comment_preview", locals: { comment: comment } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
