<div class="trending">
  <h2><%= t(:trending).mb_chars.capitalize %></h2>

  <ol>
    <% for post in only_one_post_per_blog(Post.where("created_at > ?", 24.hours.ago).order("views DESC NULLS LAST, created_at DESC").limit(20))[0..4] %>
      <li><%= link_to typography(post.title), smart_post_path(post) %></li>
    <% end %>
  </ol>

</div>
