<div class="mazavr-post-embded">
  <strong class="title"><%= link_to typography(@post.title), smart_post_path(@post) %></strong>
  <br />
  <span class="date"><%= smart_date @post.created_at %></span>
  •
  <span class="blog"><%= @post.blog.title %></span>
</div>
