<% content_for(:meta_title, t(:something_goes_wrong).mb_chars.capitalize) %>

<h1><%= raw t(:something_goes_wrong).mb_chars.capitalize %></h1>
<hr />

<%= simple_format snippet(:something_goes_wrong).to_s %>

<%= render partial: "shared/top_posts", locals: {
  posts: Post.recent.top.limit(20),
} %>

<%= javascript_tag do %> 
  ga('send', 'event', 'Errors', 'Page error', {'nonInteraction': 1});
<% end %>
