<% content_for(:meta_title, t(:routing_error).mb_chars.capitalize) %>

<h1><%= raw t(:routing_error).mb_chars.capitalize %></h1>
<hr />

<%= format_post snippet(:routing_error).to_s %>

<%= render partial: "shared/top_posts", locals: {
  posts: Post.recent.top.limit(20),
} %>
