<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"></th>
      <th class="mdl-data-table__cell--non-numeric">Имя</th>
      <th>комм.</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <%= flag_icon (user.country_code || :ru) %>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
            <%= image_tag gravatar_url(user.email, size: 35), class: "comment__avatar mdl-chip__contact", width: 20, height: 20 %>
            <span class="mdl-chip__text"><%= user.name %></span>
          </span>
        </td>
        <td><%= user['comments'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

