<% content_for :head_include do %>
   <meta name="robots" content="noindex" />
<% end %>

<br />
<div class="article-preview">
  <a class="embedly-card" href="<%= params[:url] %>"></a>
  <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>

<br />
<br />

<%= snippet "after_outbound_preview" %>

<br />
<br />

<%= cache 'posts', epires_in: 1.hour do %>
  <%= render partial: "shared/posts_table", locals: { posts: @posts } %>
<% end %>
