<% cache @post do %>
  <div class="body" itemprop="articleBody">
    <%= raw proxy_all_images @post.body %>

    <p>
      <%= raw post_teaser_for(@post) %>
    </p>
  </div>
<% end %>

<%= render "share_buttons" %>
