<div class="posts-list">
  <% for post in posts %>
    <% cache post do %>
      <div class="post">
        <h2>
          <%= link_to post.title, smart_post_path(post) %>

          <% if post.has_comments? %>
            <small>
              &nbsp;
            <%= comments_link post, class: '' %>
            </small>
          <% end %>
        </h2>
        <span class="date"><%= time_or_date post.created_at %></span>
        •
        <span class="blog"><%= post.blog.title %></span>
      </div>
      <hr />
    <% end %>
  <% end %>
</div>
