<div class="well">
  Только <%= link_to 'зарегистрированные', new_user_registration_path %> пользовати могут оставлять комментарии.

  <br/>
  <%= link_to 'Войти', new_user_session_path, class: 'btn btn-primary' %>
  <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-default' %>
</div>
