.main-card {
  max-width: 860px;
	margin: auto;


  img {
    max-width: 100%;
  }

  .section {
    width: auto;
  }
    
  &__header {
    padding: 0px 20px;
  }

  &__body {
    p,span,strong,b {
      font-size: 19px;
      font-weight: 300;
      line-height: 1.7;
    }

    p {
      padding: 10px 0px;
      margin: 0px;
    }
  }

  .mdl-chip {
    a {
      font-weight: normal;
      color: rgba(0,0,0,.87);
      text-decoration: none;
    }
  }

  &__meta {
    .item {
      padding-left: 20px;
    }

    .item:first-child {
      padding-left: 0px;
    }

    .date {
      position: relative;
      top: 3px;

      i {
        position: relative;
        top: 6px;
      }
    }
    .mdl-chip {
      position: relative;
      top: -3px;
    }

  }


  @media screen and (max-width: 765px) {
    box-shadow: none;
    margin: 0px !important;

    header, section, footer {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__header {
      h1 {
        font-size: 22px;
      }
    }
    &__body {
      p,span,strong,b {
        font-size: 16px;
      }
    }
  }
}
