.news-dashboard {
  &__stream {
    float: left;
    padding-right: 30px;
  }
}

.news-stream {
  &__list {
    border: 1px solid #efefef;
    border-radius: 5px;
    width: 276px;
    padding: 10px;
    background: #efefef;
  }
}

.news-item {
  width: 254px;
  font-size: 10px;
  background: white;
  margin: 0px 0px 8px 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  padding: 10px;
  cursor: pointer;

  &__title {
    font-size: 14px;
  }

  &__icons {
    font-size: 14px;
  }

  &__time {
    font-style: italic;
    font-size: 8px;
    color: grey;
  }

  &_top {
    font-weight: bold;

  }

  .glyphicon-fire {
    color: red;
  }
}
