<div class="news-dashboard">
  <div class="news-dashboard__trash news-dashboard__stream"></div>
  <div class="news-dashboard__inbox news-dashboard__stream"></div>
  <div class="news-dashboard__pulse news-dashboard__stream"></div>
</div>
