// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controller-welcome {
  h2 { color: #888; padding-top: 20px; margin-top: 0px; font-size: 16pt; padding-bottom: 20px }

  h3 a { color: #333; font-size: 80%; }
}
