<div class='well'>
  <h1>Editing Blogs Post</h1>

  <%= render 'form', blogs_post: @post, action_url: url_for(action: :update, id: @post.id) %>

  <%= link_to 'Show', action: :show, id: @post %> |
  <%= link_to 'Back', action: :index %>
</div>
